#todo-error {
  color: red;
  font-size: 2em;
}

body {
  font-size: 8pt;
}

body,
html {
  height: 100%;
  margin: 0;
  color: white;
}

main {
  height: 75%;
}

.font-size {
  font-size: 8pt;
}

.x-button:hover {
  cursor: pointer;
}

.card-body {
  max-height: 70vh;
  overflow: hidden;
}

#todo {
  overflow-y: auto;
  width: auto;
  max-height: 40vh;
}

#todo::-webkit-scrollbar {
  display: none;
}

#background-image-css {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#weather {
  text-shadow: 1px 1px #000000;
}

#quote {
  text-shadow: 1px 1px #000000;
}

#todo-title {
  text-shadow: 1px 1px #000000;
}
